.menu {
  padding: 10px;
  text-align: left;
  list-style-type: none;
 
}

.menu > li {
  display: inline-block;
  position: relative;
  padding: 10px;
 
  cursor: pointer;  
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
  transition: display 0.3s ease;  
  background-color: white;
  width: 150px;
  list-style-type: none;
  text-align: left;
 
}

.submenu.visible {
  display: block;  
}

 
.submenu > li,
.subsubmenu > li {
  text-align: left;
  padding: 10px;
}

.subsubmenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  border: 1px solid #ccc; 
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
  transition: display 0.3s ease; 
  width: 150px;
}

.subsubmenu.visible {
  display: block;  
}
